#gameBoard {
    display: flex;
    flex-direction: column;
}

.board-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: 20px;
}

.penny-container {
    align-items: center;
    background: rgb(241 196 15 / 20%);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    margin-bottom: 15px;
    min-height: 100px;
    padding: 15px;
    min-width: 170px;
}

.game-board {
    display: grid;
    gap: 20px;
}

@media screen and (width<=850px) {
    .game-board {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}
