.player-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.player-count-btn {
    background: #fff;
    border: 2px solid #3498db;
    border-radius: 8px;
    color: #3498db;
    cursor: pointer;
    flex: 1 1 0;
    font-weight: 600;
    min-width: fit-content;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.player-count-btn:hover,
.player-count-btn.active {
    background: #3498db;
    color: #fff;
}

.player-selector {
    grid-area: player-selector;
}

.player-selector h3,
.round-selector-container h3,
.insights h3 {
    color: #2c3e50;
    font-size: 1.3em;
    margin-bottom: 15px;
}

.user-list {
    background: transparent;
    border: 2px dotted transparent;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
    margin-bottom: 12px;
    min-height: 35px;
    padding: 0;
    place-items: stretch;
    transition: background 0.2s;
}

.user-list > li {
    border-color: #ecf0f1;
    border-radius: 15px;
    border-width: 2px;
    flex: 1 1 0;
    min-width: fit-content;
    padding: 5px 10px;
}

.user-list > li.offline {
    border-style: dashed;
    color: #888;
}

.user-list > li.online,
.spectator-list > .user-list > li {
    border-style: solid;
    color: inherit;
}

.user-list > li.waiting {
    border-style: dotted;
    color: #aaa;
}

.user-list > li[draggable] {
    cursor: pointer;
}

.user-list.drag-over {
    background: rgb(0 128 128 / 18%);
    border-color: #008080;
}
