---
import '../styles/main.css'
import '../styles/game-controls.css'

import { MAX_PLAYERS } from '../config.js'
import { ENHANCED_FRENCH_LOCALE } from '../../public/scripts/bilingual-terms'
---

<div class="game-controls">
    <button class="btn btn-primary" id="startBtn">
        Démarrer avec <span id="playerCount">{MAX_PLAYERS}</span>
        {ENHANCED_FRENCH_LOCALE.players}
    </button>
    <button class="btn btn-success" id="resetBtn">Réinitialiser</button>
</div>
