---
import '../styles/main.css'
import '../styles/game-board.css'
import { MAX_PLAYERS, TOTAL_COINS } from '../config.js'
import { LEAN_TERMS } from '../../public/scripts/bilingual-terms'
---

<div class="game-board">
    <h2>🎲 Partie en cours</h2>
    <div class="board-container">
        {
            Array.from({ length: MAX_PLAYERS }, (_, i) => {
                const count = i + 1
                return (
                    <div class="board-player" id={`player${count}`} {...(count === 1 ? { active: true } : {})}>
                        <p>
                            {LEAN_TERMS.PLAYER} {count}
                        </p>
                        <div class="penny-container" id={`pennyContainer${count}`}>
                            {count === 1 && Array.from({ length: TOTAL_COINS }).map(() => <div class="flip">🪙</div>)}
                        </div>
                    </div>
                )
            })
        }
    </div>
</div>
