---
import '../styles/main.css'
import '../styles/index.css'
import '../styles/game-board.css'
import Main from '../layouts/Main.astro'
import JoinRole from '../components/JoinRole.astro'
import PlayerSelector from '../components/PlayerSelector.astro'
import Rules from '../components/Rules.astro'
import GameInfo from '../components/GameInfo.astro'
import RoundSelector from '../components/RoundSelector.astro'
import GameControls from '../components/GameControls.astro'
import GameBoard from '../components/GameBoard.astro'
import Results from '../components/Results.astro'
import { SITE_NAME, MAX_PLAYERS } from '../config.js'

let showJoinRole = true
---

<Main title={SITE_NAME}>
    <JoinRole visible={showJoinRole} />
    <div class="container">
        <h1><span class="flip" id="coinFlip">🪙</span> Penny Game</h1>
        <p class="subtitle">Simulation Lean - Mesure du Flow et du Lead Time</p>

        <div class="game-setup">
            <div class="setup-controls">
                <PlayerSelector />

                <Rules />

                <GameInfo />

                <div class="round-selector-container">
                    <RoundSelector
                        rounds={[
                            {
                                title: 'Batch de 12',
                                description: "Passer TOUTES les 12 pièces d'un coup",
                            },
                            {
                                title: 'Batch de 4',
                                description: 'Passer les pièces 4 par 4',
                            },
                            {
                                title: 'Batch de 1',
                                description: 'Passer les pièces une par une',
                            },
                        ]}
                    />
                </div>
            </div>
        </div>

        <GameControls MAX_PLAYERS={MAX_PLAYERS} />

        <GameBoard MAX_PLAYERS={MAX_PLAYERS} />

        <Results />
    </div>
</Main>

<script type="module" src="scripts/main.js"></script>
